<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev_mobile.miniprojet_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:allowBackup="true"
        android:icon="@mipmap/icon2"
        android:label="Movie Manager"
        android:roundIcon="@mipmap/icon2"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiniProjet_Android">
        <activity
            android:name=".login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDhZPGGUaDiDEM0pHzXs3RSVgq10CNnZ88" />

        <activity
            android:name=".Map"
            android:exported="false" />
        <activity
            android:name=".MovieUpdate"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Accueil"
            android:exported="false" />
    </application>

</manifest>